---
name: CI Build

on:
  push:
    branches:
      - "**"
    paths:
      - "**/*.rs"
      - "src/*"
      - "Cargo.*"
      - ".github/workflows/build.yml"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.rs"
      - "src/*"
      - "Cargo.*"
      - ".github/workflows/build.yml"
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

env:
  RUSTFLAGS: "--deny warnings"

jobs:
  build:
    name: CI Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable]
        TARGET:
          - x86_64-unknown-linux-gnu

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Toolchain setup
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.TARGET }}

      - name: Build
        run: cargo build
