on:
  push:
    branches:
      - "**"
    paths:
      - "**/*.rs"
      - "src/*"
      - ".github/workflows/fmt.yml"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.rs"
      - "src/*"
      - ".github/workflows/fmt.yml"
  schedule:
    - cron: "0 1 * * 1"
  workflow_dispatch:

name: rust formatting checks

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Formatting checks
        uses: mbrobbel/rustfmt-check@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
